@charset "UTF-8";
/*---
    Usage:
    @include respond-to('sm') {  ...  }
---*/
/*---
    Usage:
    @include vendor('transform', opacity .3s ease-in-out) {  ...  }
---*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*:focus {
  outline: 2px solid var(--primary-700);
  box-shadow: 0 0 0.7rem 0 var(--primary-700);
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--primary-font);
  color: var(--text-c);
  line-height: 1.4em;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-active {
  border-top: 4px solid white;
  position: relative;
  bottom: 0.2rem;
}
.is-active_web {
  border-bottom: 4px solid white;
  position: relative;
  top: 0.4rem;
}
.is-active_web a {
  color: white !important;
  padding-bottom: 0.55rem;
  font-weight: bold;
}
.is-active a {
  color: white !important;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  font-size: 0.6rem;
  height: 6vh;
  width: 60%;
  margin: 1rem 0;
}
@media screen and (min-width: 992px) {
  .c-button {
    width: 30%;
  }
}

.c-card {
  min-height: 12rem;
  list-style-type: none;
  position: relative;
  background-color: black;
  border-radius: 0.7rem;
}
.c-card a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.7rem;
}
.c-card a span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0 0 0.7rem 0.7rem;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.c-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  box-shadow: 1.5rem 1.5rem 1.5rem rgb(0, 0, 0);
  border-radius: 0.7rem;
  z-index: -1;
}
.c-card .scikit {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/9VPM3xd/scikit.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .rapidminer {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/sRNC0ZM/rapidminer.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .pandas {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/th1Mtzj/pandas.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .matplotlib {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/QbYRnGB/matplotlib.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .iris {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/N9LV6Bg/iris.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .titanic {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/bWSQj8M/titanic.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .wine {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/0mf5syL/wine.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .heart {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/DpG5qms/heart.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .sports {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/kShLdzz/sports.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .banking {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/G2YXcxB/banking.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .data_pre_processing {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/HPzr9FJ/data-pre-processing.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .gradient {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/0q20cVT/gradient.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .linear_reg {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/RSwSccd/linear-reg.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .logistic_reg {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/dW4y6dK/logistic-reg.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .lda {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/9pYzy9L/lda.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .validate_mod {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/d64CM21/validate-mod.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .credibility {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/w0jmycX/credibility.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .k-nn {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/B6qW40W/k-nn.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .naive {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/TYWPFCh/naive.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .feature {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/4WmJ0ST/feat-selec.jpg");
  background-size: cover;
  background-position: center;
}
.c-card .deshpande {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/m6nBqvQ/deshpande.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 992px) {
  .c-card {
    height: 6rem;
    width: 12rem;
  }
}

.c-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}
.c-container .c-container_header .c-header {
  display: none;
}
.c-container h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.c-container p {
  font-size: 0.65rem;
  padding-bottom: 1rem;
  line-height: 2;
}
.c-container .c-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.c-container .c-container_content {
  overflow-y: scroll;
  padding: 2rem 0rem;
  width: 100%;
  height: 100%;
}
.c-container .c-container_content .c-cards__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 12rem);
  grid-gap: 2rem;
}
.c-container .c-content_header {
  display: none;
}
.c-container .c-content {
  overflow-y: scroll;
  padding: 1.5rem 0;
  width: 100%;
  height: 100%;
}
.c-container .c-content h3,
.c-container .c-content h4 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.c-container .c-content h3 {
  font-size: 1.2rem;
  text-align: center;
}
.c-container .c-content h4 {
  font-size: 1rem;
}
.c-container .c-content h5 {
  font-size: 0.85rem;
}
.c-container .c-content h6 {
  font-size: 0.75rem;
}
.c-container .c-content h5,
.c-container .c-content h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.c-container .c-content h5,
.c-container .c-content h6,
.c-container .c-content strong {
  font-weight: bold;
}
.c-container .c-content .c-bulleted {
  list-style-type: disc;
  margin: 0 0 2rem 1rem;
}
.c-container .c-content .c-bulleted li {
  font-size: 0.7rem;
  line-height: 2;
}
.c-container .c-content ol {
  margin: 0 0 2rem 1rem;
}
.c-container .c-content ol li {
  font-size: 0.7rem;
  line-height: 2;
}
.c-container .c-content .c-code_list {
  list-style-type: disc;
  margin: 0 0 2rem 1rem;
}
.c-container .c-content .c-code_list li {
  font-size: 0.7rem;
  line-height: 2;
}
.c-container .c-content .c-code_list code {
  background-color: rgba(255, 255, 255, 0.1);
  color: aqua;
  font-weight: bold;
  font-size: 0.8rem;
}
.c-container .c-content .c-sublist {
  list-style-type: none;
  padding-left: 1rem;
}
.c-container .c-content .c-sublist li::before {
  content: "-";
  margin-right: 5px;
  color: white;
  font-size: 0.85rem;
}
.c-container .c-content .c-code {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.3rem;
}
.c-container .c-content .c-code .hljs {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;
  background-color: rgba(30, 30, 30, 0.5);
}
.c-container .c-content figure {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 1.5rem;
}
.c-container .c-content .c-construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.c-container .c-content .c-construction i {
  height: 10vh;
  font-size: 5rem;
}
.c-container .c-content .c-construction span {
  font-size: 0.8rem;
}
.c-container .swiper,
.c-container .slide-container {
  display: none;
}
@media screen and (min-width: 992px) {
  .c-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  .c-container .c-about {
    width: 50%;
    align-self: flex-start;
  }
  .c-container .c-about p {
    font-size: 0.65rem;
    padding-bottom: 1rem;
    line-height: 2;
  }
  .c-container .c-about .c-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
  }
  .c-container .c-container_header {
    height: 40%;
    padding-top: 3rem;
  }
  .c-container .c-container_header .c-header {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    align-self: flex-start;
    letter-spacing: 0.2rem;
  }
  .c-container .c-container_header .c-info {
    width: 50%;
    font-size: 0.65rem;
    align-self: flex-start;
    padding-bottom: 1rem;
    line-height: 2;
  }
  .c-container h2 {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
  }
  .c-container .c-content_header {
    display: block;
    padding-bottom: 1.3rem;
    margin-top: 3rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 50%;
  }
  .c-container .c-content {
    width: 50%;
  }
  .c-container .c-content h5,
  .c-container .c-content h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .c-container .c-content .c-bulleted li {
    font-size: 0.7rem;
  }
  .c-container .c-content figure {
    width: 60%;
  }
  .c-container .c-container_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    overflow-y: hidden;
    padding: 0;
  }
  .c-container .c-container_content .c-cards__list {
    display: none;
  }
  .c-container .c-container_content .slide-container {
    display: block;
    max-width: 90vw;
    height: 90%;
    width: 90%;
    padding: 2rem;
    --swiper-theme-color: white;
    --swiper-navigation-size: 1.5rem;
  }
  .c-container .c-container_content .slide-container .slide-content {
    height: 90%;
  }
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 90vw;
  font-weight: bold;
  font-size: 1.3rem;
}
@media screen and (min-width: 992px) {
  header {
    display: none;
  }
}

.c-nav_mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7vh;
  text-transform: uppercase;
  background-color: rgb(7, 7, 7);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.c-nav_mobile .c-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 90%;
  height: 100%;
  font-size: 0.7rem;
}
.c-nav_mobile .c-navigation__list .c-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  cursor: pointer;
  list-style: none;
}
.c-nav_mobile .c-navigation__list .c-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
}
.c-nav_mobile .c-navigation__list .c-item a span {
  font-size: 0.5rem;
}
.c-nav_mobile .c-navigation__list .c-item a i,
.c-nav_mobile .c-navigation__list .c-item a span {
  height: 20%;
}
.c-nav_web {
  display: none;
}
@media screen and (min-width: 992px) {
  .c-nav_mobile {
    display: none;
  }
  .c-nav_web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 10vh;
  }
  .c-nav_web h1 {
    padding-bottom: 0.5rem;
  }
  .c-nav_web .c-navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 0.7rem;
    padding-bottom: 0.25rem;
  }
  .c-nav_web .c-navigation__list .c-item {
    list-style: none;
  }
  .c-nav_web .c-navigation__list .c-item a {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  background-image: radial-gradient(rgba(7, 7, 7, 0.9), rgba(7, 7, 7, 0.9)), url("https://i.ibb.co/zG2rTBv/background.png");
  background-size: cover;
  background-position: bottom;
  letter-spacing: 1px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}
body .underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
body button {
  cursor: pointer;
}
body h2 {
  height: 2rem;
}
@media screen and (min-width: 992px) {
  body {
    justify-content: flex-start;
    background-image: radial-gradient(closest-side at 50% 50%, rgba(7, 7, 7, 0.85), rgba(7, 7, 7, 0.85)), url("https://i.ibb.co/YdWDK8r/background-web.jpg");
  }
  body .underline {
    border-bottom: none;
  }
}

main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 83vh;
}

footer {
  display: none;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 7vh;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  footer span {
    font-size: 0.65rem;
  }
}/*# sourceMappingURL=styles.css.map */