@charset "UTF-8";
/*---
    Usage:
    @include respond-to('sm') {  ...  }
---*/
/*---
    Usage:
    @include vendor('transform', opacity .3s ease-in-out) {  ...  }
---*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*:focus {
  outline: 2px solid var(--primary-700);
  box-shadow: 0 0 0.7rem 0 var(--primary-700);
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--primary-font);
  color: var(--text-c);
  line-height: 1.4em;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-active {
  height: 2rem;
  width: 8rem;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-active a {
  color: black !important;
  font-weight: bold;
}

.c-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4rem - 5vh);
  width: 100%;
}
.c-blog .c-header {
  max-width: 60rem;
  padding-top: 2rem;
  height: auto;
  width: calc(100% - 3rem);
  border-bottom: 1px solid #ccc;
}
.c-blog .c-header h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.c-blog .c-header p {
  font-size: 0.7rem;
  line-height: 2;
  margin: 1rem 0;
}
.c-blog .c-blog__list {
  overflow-y: scroll;
  padding: 2rem 0rem;
  width: calc(100% - 3rem);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 7rem);
  grid-gap: 2rem;
}
.c-blog .c-blog__list .c-item {
  min-height: 7rem;
  list-style-type: none;
}
.c-blog .c-blog__list .c-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 0.5rem;
}
@media screen and (min-width: 992px) {
  .c-blog {
    height: calc(100vh - 3rem);
    position: relative;
    top: 3rem;
    z-index: 1;
  }
  .c-blog .c-header {
    max-width: 50%;
  }
  .c-blog .c-header h2 {
    font-size: 1.5rem;
  }
  .c-blog .c-header p {
    font-size: 0.7rem;
  }
  .c-blog .c-blog__list {
    margin-bottom: 3rem;
    overflow-y: scroll;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 7rem);
  }
  .c-blog .c-blog__list .c-item {
    width: 100%;
    height: 5rem;
  }
  .c-blog .c-blog__list .c-item a p {
    width: 70%;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1400px) {
  .c-blog .c-header {
    width: 40%;
  }
  .c-blog .c-header h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .c-blog .c-header p {
    font-size: 0.8rem;
    line-height: 2.5;
  }
  .c-blog .c-blog__list {
    margin-bottom: 3rem;
    overflow-y: scroll;
    width: 40%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 7rem);
  }
  .c-blog .c-blog__list .c-item {
    width: 100%;
    height: 5rem;
  }
  .c-blog .c-blog__list .c-item a p {
    width: 70%;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.c-case__studies {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4rem - 5vh);
  width: 100%;
}
.c-case__studies .c-header {
  max-width: 60rem;
  padding-top: 2rem;
  height: auto;
  width: calc(100% - 3rem);
  border-bottom: 1px solid #ccc;
}
.c-case__studies .c-header h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.c-case__studies .c-header p {
  font-size: 0.7rem;
  line-height: 2;
  margin: 1rem 0;
}
.c-case__studies .c-cards {
  overflow-y: scroll;
  width: calc(100% - 3rem);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 15rem);
  grid-gap: 2rem;
  padding: 2rem 0rem;
}
.c-case__studies .c-cards .c-card {
  background-color: black;
  width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  border-radius: 0.5rem;
}
.c-case__studies .c-cards .c-card .titanic-image {
  background-image: url(../images/titanic.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.c-case__studies .c-cards .c-card .wine-image {
  background-image: url(../images/wine.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.c-case__studies .c-cards .c-card .cardiac-image {
  background-image: url(../images/cardiac.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.c-case__studies .c-cards .c-card .sports-image {
  background-image: url(../images/sports.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.c-case__studies .c-cards .c-card span {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .c-case__studies {
    height: calc(100vh - 3rem);
    position: relative;
    top: 3rem;
    z-index: 1;
  }
  .c-case__studies .c-header {
    width: 50%;
  }
  .c-case__studies .c-header h2 {
    font-size: 1.5rem;
  }
  .c-case__studies .c-header p {
    font-size: 0.7rem;
  }
  .c-case__studies .c-cards {
    margin-bottom: 3rem;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
  }
  .c-case__studies .c-cards .c-card span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .c-case__studies .c-header {
    width: 40%;
  }
  .c-case__studies .c-header h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .c-case__studies .c-header p {
    font-size: 0.8rem;
    line-height: 2.5;
  }
  .c-case__studies .c-cards {
    width: 40%;
    grid-template-rows: repeat(auto-fill, 17rem);
  }
  .c-case__studies .c-cards .c-card {
    min-height: 17rem;
    max-height: 17rem;
  }
  .c-case__studies .c-cards .c-card span {
    font-size: 1.1rem;
  }
}

.c-cases {
  overflow-y: scroll;
  padding: 1rem 0rem;
  width: calc(100% - 3rem);
  height: calc(100vh - 4rem - 5vh);
}
.c-cases h4 {
  font-size: 1.35rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.c-cases h5, .c-cases h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.c-cases h5, .c-cases h6, .c-cases strong {
  font-weight: bold;
}
.c-cases p {
  font-size: 0.7rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
.c-cases .c-bulleted {
  list-style-type: disc;
  margin: 1rem 0rem 1rem 1rem;
}
.c-cases .c-bulleted li {
  font-size: 0.7rem;
  line-height: 2;
}
.c-cases figure {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-cases {
    overflow-y: scroll;
    padding: 1rem 0rem;
    width: 50%;
    height: 80%;
  }
  .c-cases h4 {
    font-size: 1.2rem;
  }
  .c-cases p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1400px) {
  .c-cases {
    width: 40%;
    height: 80%;
  }
  .c-cases h4 {
    font-size: 1.35rem;
    margin-top: 2rem;
  }
  .c-cases p {
    font-size: 0.8rem;
    line-height: 2.5;
    margin-bottom: 3rem;
  }
}

.c-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 4rem - 5vh);
}
.c-home .c-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  background-image: url(../images/welcome.jpg);
  background-size: cover;
  background-position: center top;
}
.c-home .c-welcome .c-welcome_msg {
  background-color: black;
  width: 70%;
  height: 50%;
  font-size: 2rem;
}
.c-home .c-welcome .c-welcome_msg h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}
.c-home .c-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  max-width: 90%;
}
.c-home .c-about h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.c-home .c-about p {
  text-align: center;
  font-size: 0.65rem;
}
@media screen and (min-width: 768px) {
  .c-home {
    height: calc(100vh - 3rem);
    position: relative;
    top: 3rem;
    z-index: 1;
  }
  .c-home .c-welcome {
    height: 50%;
    width: 100%;
  }
  .c-home .c-welcome .c-welcome_msg {
    width: 25%;
    height: 50%;
    font-size: 1.7rem;
  }
  .c-home .c-about {
    height: 50%;
    width: 50%;
    margin-bottom: 3rem;
  }
  .c-home .c-about h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .c-home .c-about p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1400px) {
  .c-home .c-welcome .c-welcome_msg {
    width: 20%;
    height: 45%;
    font-size: 2.5rem;
  }
  .c-home .c-about {
    height: 50%;
    width: 40%;
    margin-bottom: 3rem;
  }
  .c-home .c-about h3 {
    font-size: 1.8rem;
  }
  .c-home .c-about p {
    font-size: 0.8rem;
    line-height: 2.5;
  }
}

.c-nav_mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 4rem;
  background: black;
  text-transform: uppercase;
  padding: 0rem 1.5rem;
}
.c-nav_mobile h1 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: lighter;
  height: 100%;
}
.c-nav_mobile .c-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  font-size: 0.7rem;
}
.c-nav_mobile .c-navigation__list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-decoration: none;
  color: rgb(180, 180, 180);
}
.c-nav_mobile .c-navigation__list .c-item {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
}
.c-nav_web {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-nav_mobile {
    display: none;
  }
  .c-nav_web {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background: black;
    text-transform: uppercase;
    padding: 0rem 2rem;
    min-height: 3rem;
  }
  .c-nav_web h1 {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: lighter;
    height: 100%;
  }
  .c-nav_web .c-navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
    font-size: 0.6rem;
  }
  .c-nav_web .c-navigation__list .c-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    list-style: none;
  }
}
@media screen and (min-width: 1400px) {
  .c-nav_web h1 {
    font-size: 1rem;
  }
  .c-nav_web .c-navigation__list {
    font-size: 0.75rem;
  }
  .c-nav_web .c-navigation__list .c-item {
    width: 10rem;
    height: 2.3rem;
  }
}

body {
  background: rgb(30, 30, 30);
  letter-spacing: 1px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}
body button {
  cursor: pointer;
}
body h2 {
  height: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
  height: 5vh;
}
footer span {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.6rem;
}
@media screen and (min-width: 768px) {
  footer {
    height: 3rem;
    position: relative;
    bottom: 0;
    z-index: 100;
  }
  footer span {
    font-size: 0.65rem;
  }
}
@media screen and (min-width: 1400px) {
  footer span {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=styles.css.map */