body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
    background-image:
        radial-gradient(rgba(30, 30, 30, 0.9), rgba(30, 30, 30, 0.9)),
        url(../../images/background.png);
    background-size: cover;
    background-position: center;
    letter-spacing: 1px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;

    .underline{
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    button {
        cursor: pointer;
    }

    h2 {
        height: 2rem;
    }

    @include respond-to('lg') {
        justify-content: flex-start;
        background-image:
        radial-gradient(closest-side at 50% 50%, rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.85)),
        url(../../images/background_web.jpg);

        .underline{
            border-bottom: none;
        }
    }
}