body{
    background: rgb(30, 30, 30);
    letter-spacing: 1px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    
    button{
        cursor: pointer;
    }

    h2{
        height: 2rem;
    }
}