footer {
    display: none;

    @include respond-to('md') {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 7vh;
        border-top: 1px solid rgba(255, 255, 255, 0.5);

        span {
            font-size: 0.65rem;
        }
    }
}