.c-cases {
    overflow-y: scroll;
    padding: 1rem 0rem;
    width: calc(100% - 3rem);
    height: calc(100vh - 4rem - 5vh);

    h4 {
        font-size: 1.35rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    h5, h6{
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    h5, h6, strong{
        font-weight: bold;
    }

    p {
        font-size: 0.7rem;
        line-height: 2;
        margin-bottom: 1.5rem;
    }

    .c-bulleted{
        list-style-type: disc;
        margin: 1rem 0rem 1rem 1rem;

        li{
            font-size: 0.7rem;
            line-height: 2;
        }
    }

    figure{
        margin: 0 auto;
        width: 50%;
        margin-bottom: 1.5rem;
    }

    @include respond-to('md') {
        overflow-y: scroll;
        padding: 1rem 0rem;
        width: 50%;
        height: 80%;

        h4 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.7rem;
        }
    }

    @include respond-to('xxl') {
        width: 40%;
        height: 80%;

        h4 {
            font-size: 1.35rem;
            margin-top: 2rem;
        }

        p {
            font-size: 0.8rem;
            line-height: 2.5;
            margin-bottom: 3rem;
        }
    }
}