.c-cases{
    padding: 1rem 0rem;
    max-width: 60rem;
    width: 60%;
    height: 80%;

    h4{
        font-size: 1.35rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    p{
        font-size: 0.8rem;
    }
}