.c-nav {

    &_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 7vh;
        text-transform: uppercase;
        background-color: rgb(30, 30, 30);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;

        .c-navigation__list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            width: 90%;
            height: 100%;
            font-size: 0.7rem;

            .c-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: calc(100% / 4);
                cursor: pointer;
                list-style: none;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    height: 100%;
                    color: rgba(255, 255, 255, 0.5);

                    span {
                        font-size: 0.5rem;
                    }

                    i,
                    span {
                        height: 20%;
                    }
                }
            }
        }
    }

    &_web {
        display: none;
    }

    @include respond-to('lg') {

        &_mobile {
            display: none;
        }

        &_web {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            width: 90%;
            height: 10vh;

            h1{
                padding-bottom: 0.25rem;
            }

            .c-navigation__list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 50%;
                font-size: 0.7rem;
                padding-bottom: 0.25rem;

                .c-item {
                    list-style: none;

                    a {
                        width: 100%;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
}